@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

html{
    height: 100%;
}
body{
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    margin: 0px;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
}

div[inicio]{
    height: 100%;
}

[inicio] [contenido] {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
}

[inicio] [contenido] [desarrolloWeb] [titulo]{
    margin-top: 20px;
    font-size: 4em;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
}

[inicio] [contenido] [desarrolloWeb] [contenidoWeb]{
    margin-top: 20px;
}

[inicio] [contenido] [desarrolloWeb] [contenidoWeb] [subtitulo]{
    text-align: center;
    font-size: 25px;
}

[inicio] [contenido] [desarrolloWeb] [contenidoWeb] [trabajando]{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

[inicio] [contenido] [desarrolloWeb] [contenidoWeb] [contenidoImagen]{
    margin: 20px 0px 20px 0px;
}


[inicio] [contenido] [desarrolloWeb] [contenidoWeb] [tecnologias]{
    display: flex;
    justify-content: space-between;
}

[inicio] [contenido] [desarrolloWeb] [contenidoWeb] [tecnologias] > div{
    text-align: center;
    margin: 20px 5px 10px 5px;
}

[inicio] [contenido] [desarrolloWeb] [contenidoWeb] [tecnologias] a {
    color: #FFFFFF;
    text-decoration: underline;
}

.espaciadoTexto{
    letter-spacing: 2px;
}

.tecnologia{
    width: 100px;
    height: 100px;
}

.circular{
    border-radius: 50%;
}

/*Media queries*/
@media (max-width: 720px) {
    [inicio] [contenido] [desarrolloWeb] [titulo] {
        font-size: 2em;
    }

    .tecnologia{
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 500px) {
    [inicio] [contenido] [desarrolloWeb] [titulo] {
        font-size: 1.5em;
    }

    [inicio] [contenido] [desarrolloWeb] [contenidoWeb] [trabajando]{
        width: 250px;
        height: 250px;
        border-radius: 50%;
    }

    [inicio] [contenido] [desarrolloWeb] [contenidoWeb] [tecnologias]{
        display: block;
        justify-content: space-between;
    }
}

/*--------------------------------------------*/